<h1>Añadir nuevos elementos</h1>
<button (click)="obtenerPeliculasGuardadas()">Obtener películas</button>
<section class="wrapperCards">
    <div class="container">
        <div class="row">
            <div class="col-4" *ngFor="let movie of Movies_series">
                <div *ngFor="let movie of Movies_series">
                    <div class="card">
                        <app-cards (newItemEvent)="addItem($event)" [conBoton]="true" [id]="movie.id" [imagen]="movie.poster_path" [nombre]="movie.title || movie.original_name"></app-cards>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>